{% extends 'base.html' %}
{% load static %}

{% block title %}
Problem 015
{% endblock title %}
{% block href %}
  <link rel="stylesheet" href="{% static 'css/problem_015.css' %}">
{% endblock href %}

    {% block main %}
    <div class="error">This is an error message</div>
    <p>Open <code>static/css/problem_015.css</code> to solve this.</p>
    {% endblock main %}
