{% extends 'base.html' %}
{% load static %}

{% block title %}Problem 022{% endblock title %}
{% block href %}
        <link rel="stylesheet" href="{% static 'css/problem_019.css' %}">
{% endblock href %}

{% block main %}
            <ul>
                {% for name in names %}
                    <li>{% cycle '' 'grey' %}>{{ name }}</li>
                {% endfor %}
            </ul>
{% endblock main %}
