{% extends 'base.html' %}
{% load static %}

{% block title %}Problem 021{% endblock title %}
{% block href %}
        <link rel="stylesheet" href="{% static 'css/problem_019.css' %}">
{% endblock href %}

{% block main %}
            <ul>
                {% for name in names %}
                    <li>{% cycle 'grey' '' %}">{{ names }}</li>
                {% endfor %}
            </ul>
            <!--
      Build the whole unordered list from memory
      by looping over each name in the "names"
      key of the context and creating a list
      item where each odd item is grey and the
      others aren't.
-->
{% endblock main %}
